In [1]:
#dependencies
import pandas as pd
import requests
import json
import numpy as np
import matplotlib.pyplot as plt
import gmaps

In [2]:
file_path = '../../Resources/crime_data.csv'
file = pd.read_csv(file_path)

data = [file['Date Rptd'], file['DATE OCC'], file['TIME OCC'], file['AREA NAME'], file['Crm Cd Desc'], 
       file['Vict Age'],file['Vict Sex'], file['Vict Descent'], file['Premis Desc'], file['Weapon Desc'], 
       file['LOCATION'], file['LAT'], file['LON']]
df = pd.DataFrame(data)
df = df.transpose()
df.head()

,Date Rptd,DATE OCC,TIME OCC,AREA NAME,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Premis Desc,Weapon Desc,LOCATION,LAT,LON
0,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,Southwest,BATTERY - SIMPLE ASSAULT,36,F,B,SINGLE FAMILY DWELLING,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",1100 W 39TH PL,34.0141,-118.298
1,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,Central,BATTERY - SIMPLE ASSAULT,25,M,H,SIDEWALK,UNKNOWN WEAPON/OTHER WEAPON,700 S HILL ST,34.0459,-118.254
2,09/16/2020 12:00:00 AM,09/16/2020 12:00:00 AM,1230,77th Street,VANDALISM - MISDEAMEANOR ($399 OR UNDER),62,M,B,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,700 E 73RD ST,33.9739,-118.263
3,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,N Hollywood,VANDALISM - MISDEAMEANOR ($399 OR UNDER),76,F,W,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,5400 CORTEEN PL,34.1685,-118.402
4,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,Mission,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",31,X,X,BEAUTY SUPPLY STORE,NaN,14400 TITUS ST,34.2198,-118.447

In [3]:
# Path to csv file
file_one = "../../Resources/2019_crime_data.csv"

# Read csv file
crime2019_df = pd.read_csv(file_one)

# Display head of csv file
crime2019_df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Crm Cd,Crm Cd Desc,Vict Age,...,Vict Descent,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,LOCATION,Cross Street,LAT,LON
0,190805874,2/12/2019 0:00,2/12/2019 0:00,1900,8,West LA,857,310,BURGLARY,34,...,P,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,1500 BEVERWIL DR,NaN,34.0524,-118.3986
1,191213477,5/12/2019 0:00,5/12/2019 0:00,200,12,77th Street,1203,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",24,...,H,"VEHICLE, PASSENGER/TRUCK",NaN,NaN,IC,Invest Cont,1700 W 45TH ST,NaN,34.0028,-118.3089
2,190409679,5/10/2019 0:00,5/10/2019 0:00,330,4,Hollenbeck,489,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),24,...,H,PARKING LOT,304.0,CLUB/BAT,IC,Invest Cont,1300 S SOTO ST,NaN,34.0263,-118.2196
3,191510263,5/1/2019 0:00,4/30/2019 0:00,1610,15,N Hollywood,1599,624,BATTERY - SIMPLE ASSAULT,53,...,O,SINGLE FAMILY DWELLING,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,2800 MONTCALM AV,NaN,34.1223,-118.3563
4,190320119,8/30/2019 0:00,8/30/2019 0:00,1815,3,Southwest,354,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,49,...,B,SINGLE FAMILY DWELLING,511.0,VERBAL THREAT,IC,Invest Cont,2700 OBAMA BL,NaN,34.0222,-118.3227

In [4]:
# new_crime2019_df = crime2019_df.loc[(crime2019_df["Vict Age"] > 0,:)
new_crime = crime2019_df[crime2019_df["Vict Age"] != -1]
# age= new_crime2019_df["Vict Age"].value_counts()
new_crime_2019 = new_crime[new_crime["Vict Age"] != -2]
age = new_crime_2019["Vict Age"].value_counts()
age

0     41647
29     5085
27     4928
28     4921
30     4916
      ...
95       29
94       27
96       21
97       17
98       13
Name: Vict Age, Length: 99, dtype: int64

In [7]:
# Add One Name column
new_crime_2019["One"]= 1

/Users/meaganmb_11/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [5]:
# Configure gmaps
gmaps.configure(api_key = "AIzaSyAt_EOD_wTikFHLRpiIbXXHi6TAUCduZAg")

In [8]:
# Store 'Lat' and 'Lng' into  locations 
locations = new_crime_2019[["LAT", "LON"]].astype(float)

# Convert Humidity Rate to float and store
one = new_crime_2019['One'].astype(float)

In [9]:
# Create a humidity Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=one, 
                                 dissipating=False, max_intensity=1,
                                 point_radius = 0.0005)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))