In [1]:
#dependencies
import pandas as pd
import requests
import json
import numpy as np
import matplotlib.pyplot as plt
import gmaps

url = "https://data.lacity.org/resource/2nrs-mtv8.json"
response = requests.get(url).json()

In [48]:
#setting up data to make table/DataFrame
#creating lists to 
date_reported = []
date_occured = []
time_occured = []
area_name = []
crime_desc = []
vict_age = []
gender = []
vict_descent = []
premis_description = []
weapon_used = []
location = []
lat = []
lng = []

crime_list = []
for crime in response:
    dict = {'Date Reported':crime['date_rptd'], 'Date Occured':crime['date_occ'], 'Time Occured':crime['time_occ'], 
           'Area Name':crime['area_name'], 'Crime Type':crime['crm_cd_desc'], 'Victim Age':crime['vict_age'],
           'Premise':crime['premis_desc'], 'Location':crime['location'], 'Latitude':crime['lat'], 'Longitude':crime['lon']}
    
    date_reported.append(crime['date_rptd'])
    date_occured.append(crime['date_occ'])
    time_occured.append(crime['time_occ'])
    area_name.append(crime['area_name'])
    crime_desc.append(crime['crm_cd_desc'])
    vict_age.append(crime['vict_age'])
    
    premis_description.append(crime['premis_desc'])
   
    location.append(crime['location'])
    lat.append(crime['lat'])
    lng.append(crime['lon'])
    try:
        gender.append(crime['vict_sex'])
        vict_descent.append(crime['vict_descent'])
        weapon_used.append(crime['weapon_desc'])
        dict['Gender'] = crime['vict_sex']
    except:
        gender.append("NA+x")
        vict_descent.append('NA+x')
        weapon_used.append('NA+x')
     
        #dict['Gender']
    crime_list.append(dict)

In [41]:
response[0]

{'dr_no': '010304468',
 'date_rptd': '2020-01-08T00:00:00.000',
 'date_occ': '2020-01-08T00:00:00.000',
 'time_occ': '2230',
 'area': '03',
 'area_name': 'Southwest',
 'rpt_dist_no': '0377',
 'part_1_2': '2',
 'crm_cd': '624',
 'crm_cd_desc': 'BATTERY - SIMPLE ASSAULT',
 'mocodes': '0444 0913',
 'vict_age': '36',
 'vict_sex': 'F',
 'vict_descent': 'B',
 'premis_cd': '501',
 'premis_desc': 'SINGLE FAMILY DWELLING',
 'weapon_used_cd': '400',
 'weapon_desc': 'STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)',
 'status': 'AO',
 'status_desc': 'Adult Other',
 'crm_cd_1': '624',
 'location': '1100 W  39TH                         PL',
 'lat': '34.0141',
 'lon': '-118.2978'}

In [49]:
crime_df = pd.DataFrame(crime_list)
crime_df

,Date Reported,Date Occured,Time Occured,Area Name,Crime Type,Victim Age,Premise,Location,Latitude,Longitude,Gender
0,2020-01-08T00:00:00.000,2020-01-08T00:00:00.000,2230,Southwest,BATTERY - SIMPLE ASSAULT,36,SINGLE FAMILY DWELLING,1100 W 39TH PL,34.0141,-118.2978,F
1,2020-01-02T00:00:00.000,2020-01-01T00:00:00.000,0330,Central,BATTERY - SIMPLE ASSAULT,25,SIDEWALK,700 S HILL ST,34.0459,-118.2545,M
2,2020-09-16T00:00:00.000,2020-09-16T00:00:00.000,1230,77th Street,VANDALISM - MISDEAMEANOR ($399 OR UNDER),62,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",700 E 73RD ST,33.9739,-118.263,NaN
3,2020-01-01T00:00:00.000,2020-01-01T00:00:00.000,1730,N Hollywood,VANDALISM - MISDEAMEANOR ($399 OR UNDER),76,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",5400 CORTEEN PL,34.1685,-118.4019,NaN
4,2020-01-01T00:00:00.000,2020-01-01T00:00:00.000,0415,Mission,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",31,BEAUTY SUPPLY STORE,14400 TITUS ST,34.2198,-118.4468,NaN
...,...,...,...,...,...,...,...,...,...,...,...
995,2020-01-30T00:00:00.000,2020-01-30T00:00:00.000,0400,Central,ROBBERY,20,RESTAURANT/FAST FOOD,800 S FIGUEROA ST,34.0479,-118.2612,M
996,2020-01-30T00:00:00.000,2020-01-30T00:00:00.000,0250,Central,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0,RESTAURANT/FAST FOOD,600 S HOPE ST,34.0495,-118.2563,NaN
997,2020-01-29T00:00:00.000,2020-01-29T00:00:00.000,2245,Central,VIOLATION OF RESTRAINING ORDER,34,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",900 MARVIEW AV,34.0673,-118.2489,NaN
998,2020-03-29T00:00:00.000,2020-03-29T00:00:00.000,1900,Northeast,OTHER MISCELLANEOUS CRIME,24,SIDEWALK,4000 SEA VIEW AV,34.1074,-118.217,NaN
999,2020-01-30T00:00:00.000,2020-01-29T00:00:00.000,1630,Central,VIOLATION OF RESTRAINING ORDER,48,OTHER PREMISE,500 S SAN PEDRO ST,34.0442,-118.2439,NaN

,Date Reported,Date Occured,Time Occured,Area Name,Crime Type,Victim Age,Premise,Location,Latitude,Longitude
0,2020-01-08T00:00:00.000,2020-01-08T00:00:00.000,2230,Southwest,BATTERY - SIMPLE ASSAULT,36,SINGLE FAMILY DWELLING,1100 W 39TH PL,34.0141,-118.2978
1,2020-01-02T00:00:00.000,2020-01-01T00:00:00.000,0330,Central,BATTERY - SIMPLE ASSAULT,25,SIDEWALK,700 S HILL ST,34.0459,-118.2545
2,2020-09-16T00:00:00.000,2020-09-16T00:00:00.000,1230,77th Street,VANDALISM - MISDEAMEANOR ($399 OR UNDER),62,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",700 E 73RD ST,33.9739,-118.263
3,2020-01-01T00:00:00.000,2020-01-01T00:00:00.000,1730,N Hollywood,VANDALISM - MISDEAMEANOR ($399 OR UNDER),76,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",5400 CORTEEN PL,34.1685,-118.4019
4,2020-01-01T00:00:00.000,2020-01-01T00:00:00.000,0415,Mission,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",31,BEAUTY SUPPLY STORE,14400 TITUS ST,34.2198,-118.4468
...,...,...,...,...,...,...,...,...,...,...
990,2020-01-29T00:00:00.000,2020-01-29T00:00:00.000,0925,Central,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",26,SIDEWALK,SAN PEDRO ST,34.0423,-118.2452
991,2020-01-29T00:00:00.000,2020-01-29T00:00:00.000,2040,Central,OTHER MISCELLANEOUS CRIME,0,STREET,7TH,34.0459,-118.2545
992,2020-01-29T00:00:00.000,2020-01-28T00:00:00.000,1500,Central,BURGLARY FROM VEHICLE,57,STREET,1000 WILDE ST,34.0388,-118.2411
993,2020-01-30T00:00:00.000,2020-01-29T00:00:00.000,2130,Central,BATTERY - SIMPLE ASSAULT,23,STREET,7TH,34.0449,-118.2528
994,2020-01-29T00:00:00.000,2020-01-26T00:00:00.000,2330,Central,BURGLARY FROM VEHICLE,34,STREET,11TH ST,34.0391,-118.2581