In [1]:
#dependencies
import pandas as pd
import requests
import json
import numpy as np
import matplotlib.pyplot as plt
import gmaps
# gmaps.configure(
# AIzaSyCPH-zTePwo6ykW9TpQekwNUPjRtSVZs5g
# ==gkey)

url = "https://data.lacity.org/resource/2nrs-mtv8.json"
response = requests.get(url).json()

In [2]:
#setting up data to make table/DataFrame
#creating lists to 
date_reported = []
date_occured = []
time_occured = []
area_name = []
crime_desc = []
vict_age = []
gender = []
vict_descent = []
premis_description = []
weapon_used = []
location = []
lat = []
lng = []

crime_list = []
for crime in response:
    dict = {'Date Reported':crime['date_rptd'], 'Date Occured':crime['date_occ'], 'Time Occured':crime['time_occ'], 
           'Area Name':crime['area_name'], 'Crime Type':crime['crm_cd_desc'], 'Victim Age':crime['vict_age'],
           'Premise':crime['premis_desc'], 'Location':crime['location'], 'Latitude':crime['lat'], 'Longitude':crime['lon']}
    
    date_reported.append(crime['date_rptd'])
    date_occured.append(crime['date_occ'])
    time_occured.append(crime['time_occ'])
    area_name.append(crime['area_name'])
    crime_desc.append(crime['crm_cd_desc'])
    vict_age.append(crime['vict_age'])
    
    premis_description.append(crime['premis_desc'])
   
    location.append(crime['location'])
    lat.append(crime['lat'])
    lng.append(crime['lon'])
    try:
        gender.append(crime['vict_sex'])
        vict_descent.append(crime['vict_descent'])
        weapon_used.append(crime['weapon_desc'])
        dict['Gender'] = crime['vict_sex']
    except:
        gender.append("NA+x")
        vict_descent.append('NA+x')
        weapon_used.append('NA+x')
     
        #dict['Gender']
    crime_list.append(dict)

In [3]:
crime_df = pd.DataFrame(crime_list)
crime_df

,Date Reported,Date Occured,Time Occured,Area Name,Crime Type,Victim Age,Premise,Location,Latitude,Longitude,Gender
0,2020-01-08T00:00:00.000,2020-01-08T00:00:00.000,2230,Southwest,BATTERY - SIMPLE ASSAULT,36,SINGLE FAMILY DWELLING,1100 W 39TH PL,34.0141,-118.2978,F
1,2020-01-02T00:00:00.000,2020-01-01T00:00:00.000,0330,Central,BATTERY - SIMPLE ASSAULT,25,SIDEWALK,700 S HILL ST,34.0459,-118.2545,M
2,2020-09-16T00:00:00.000,2020-09-16T00:00:00.000,1230,77th Street,VANDALISM - MISDEAMEANOR ($399 OR UNDER),62,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",700 E 73RD ST,33.9739,-118.263,NaN
3,2020-01-01T00:00:00.000,2020-01-01T00:00:00.000,1730,N Hollywood,VANDALISM - MISDEAMEANOR ($399 OR UNDER),76,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",5400 CORTEEN PL,34.1685,-118.4019,NaN
4,2020-01-01T00:00:00.000,2020-01-01T00:00:00.000,0415,Mission,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",31,BEAUTY SUPPLY STORE,14400 TITUS ST,34.2198,-118.4468,NaN
...,...,...,...,...,...,...,...,...,...,...,...
995,2020-01-29T00:00:00.000,2020-01-29T00:00:00.000,1036,Central,SHOPLIFTING - PETTY THEFT ($950 & UNDER),23,DEPARTMENT STORE,700 W 7TH ST,34.0480,-118.2577,NaN
996,2020-01-29T00:00:00.000,2020-01-29T00:00:00.000,0925,Central,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",26,SIDEWALK,SAN PEDRO ST,34.0423,-118.2452,F
997,2020-01-29T00:00:00.000,2020-01-29T00:00:00.000,2040,Central,OTHER MISCELLANEOUS CRIME,0,STREET,7TH,34.0459,-118.2545,NaN
998,2020-01-29T00:00:00.000,2020-01-28T00:00:00.000,1500,Central,BURGLARY FROM VEHICLE,57,STREET,1000 WILDE ST,34.0388,-118.2411,NaN
999,2020-01-30T00:00:00.000,2020-01-29T00:00:00.000,2130,Central,BATTERY - SIMPLE ASSAULT,23,STREET,7TH,34.0449,-118.2528,F

In [4]:
crime_df["Crime Type"].value_counts()

BURGLARY FROM VEHICLE                                       127
BATTERY - SIMPLE ASSAULT                                    120
THEFT PLAIN - PETTY ($950 & UNDER)                           83
VEHICLE - STOLEN                                             64
VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)      56
SHOPLIFTING - PETTY THEFT ($950 & UNDER)                     54
ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT               48
THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD     47
BURGLARY                                                     34
INTIMATE PARTNER - SIMPLE ASSAULT                            32
ROBBERY                                                      31
THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)              29
VANDALISM - MISDEAMEANOR ($399 OR UNDER)                     28
CRIMINAL THREATS - NO WEAPON DISPLAYED                       23
BIKE - STOLEN                                                20
TRESPASSING                                                  20
BATTERY WITH SEXUAL CONTACT                                  17
THEFT, PERSON                                                16
BRANDISH WEAPON                                              15
THEFT OF IDENTITY                                            14
OTHER MISCELLANEOUS CRIME                                    14
INTIMATE PARTNER - AGGRAVATED ASSAULT                        14
THEFT FROM MOTOR VEHICLE - GRAND ($400 AND OVER)             14
ATTEMPTED ROBBERY                                             8
BATTERY POLICE (SIMPLE)                                       7
OTHER ASSAULT                                                 6
BUNCO, GRAND THEFT                                            5
RAPE, FORCIBLE                                                4
SHOPLIFTING-GRAND THEFT ($950.01 & OVER)                      4
VIOLATION OF COURT ORDER                                      4
DISCHARGE FIREARMS/SHOTS FIRED                                3
LETTERS, LEWD  -  TELEPHONE CALLS, LEWD                       3
BOMB SCARE                                                    3
VIOLATION OF RESTRAINING ORDER                                3
INDECENT EXPOSURE                                             2
LEWD CONDUCT                                                  2
BUNCO, PETTY THEFT                                            2
DOCUMENT FORGERY / STOLEN FELONY                              2
ARSON                                                         2
CHILD NEGLECT (SEE 300 W.I.C.)                                1
CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 YRS OLDER)      1
VEHICLE - MOTORIZED SCOOTERS, BICYCLES, AND WHEELCHAIRS       1
THEFT FROM MOTOR VEHICLE - ATTEMPT                            1
EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)                    1
ORAL COPULATION                                               1
RESISTING ARREST                                              1
SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO ANUS OTH       1
BURGLARY, ATTEMPTED                                           1
VIOLATION OF TEMPORARY RESTRAINING ORDER                      1
DEFRAUDING INNKEEPER/THEFT OF SERVICES, $400 & UNDER          1
CONTEMPT OF COURT                                             1
SHOTS FIRED AT INHABITED DWELLING                             1
STALKING                                                      1
KIDNAPPING - GRAND ATTEMPT                                    1
PURSE SNATCHING                                               1
SEXUAL PENETRATION W/FOREIGN OBJECT                           1
THROWING OBJECT AT MOVING VEHICLE                             1
KIDNAPPING                                                    1
CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT                       1
Name: Crime Type, dtype: int64

In [5]:
crime_df["Area Name"].value_counts()

Central        822
77th Street     18
Hollenbeck      12
Pacific         12
Devonshire      11
N Hollywood     11
Olympic         10
Harbor          10
Hollywood        9
Wilshire         9
West Valley      9
Southwest        9
West LA          8
Southeast        8
Topanga          8
Northeast        7
Mission          6
Rampart          6
Newton           6
Foothill         5
Van Nuys         4
Name: Area Name, dtype: int64

In [6]:
crime_df["Gender"].value_counts()

M    193
F    172
X     21
Name: Gender, dtype: int64

In [7]:
# Convert poverty rate as a list
# Convert bank rate to list
# poverty_rate = crime_df["Poverty Rate"].tolist()

In [8]:
# Create a map using state centroid coordinates to set markers
# marker_locations = census_data[['Latitude', 'Longitude']]

# Create a marker_layer using the poverty list to fill the info box
# fig = gmaps.figure()
# markers = gmaps.marker_layer(marker_locations)
# fig.add_layer(markers)
# fig

In [9]:
Actual_Age=pd.to_numeric(crime_df['Victim Age']).astype(float)

In [10]:
AgeBin = [0,18,25,35,45,65,90]
AgeGroup = ["Children and Teens(0-18)","Young Adults(19-25)", "Mid 20s to Mid 30s(26-35)", "Middle Age(36-45)", "Mid 40s to Mid 60s(46-65)", "Seniors(66-90)"]
crime_df["Age Group"]=pd.cut(Actual_Age,AgeBin,labels=AgeGroup,include_lowest=True)
crime_df

,Date Reported,Date Occured,Time Occured,Area Name,Crime Type,Victim Age,Premise,Location,Latitude,Longitude,Gender,Age Group
0,2020-01-08T00:00:00.000,2020-01-08T00:00:00.000,2230,Southwest,BATTERY - SIMPLE ASSAULT,36,SINGLE FAMILY DWELLING,1100 W 39TH PL,34.0141,-118.2978,F,Middle Age(36-45)
1,2020-01-02T00:00:00.000,2020-01-01T00:00:00.000,0330,Central,BATTERY - SIMPLE ASSAULT,25,SIDEWALK,700 S HILL ST,34.0459,-118.2545,M,Young Adults(19-25)
2,2020-09-16T00:00:00.000,2020-09-16T00:00:00.000,1230,77th Street,VANDALISM - MISDEAMEANOR ($399 OR UNDER),62,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",700 E 73RD ST,33.9739,-118.263,NaN,Mid 40s to Mid 60s(46-65)
3,2020-01-01T00:00:00.000,2020-01-01T00:00:00.000,1730,N Hollywood,VANDALISM - MISDEAMEANOR ($399 OR UNDER),76,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",5400 CORTEEN PL,34.1685,-118.4019,NaN,Seniors(66-90)
4,2020-01-01T00:00:00.000,2020-01-01T00:00:00.000,0415,Mission,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",31,BEAUTY SUPPLY STORE,14400 TITUS ST,34.2198,-118.4468,NaN,Mid 20s to Mid 30s(26-35)
...,...,...,...,...,...,...,...,...,...,...,...,...
995,2020-01-29T00:00:00.000,2020-01-29T00:00:00.000,1036,Central,SHOPLIFTING - PETTY THEFT ($950 & UNDER),23,DEPARTMENT STORE,700 W 7TH ST,34.0480,-118.2577,NaN,Young Adults(19-25)
996,2020-01-29T00:00:00.000,2020-01-29T00:00:00.000,0925,Central,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",26,SIDEWALK,SAN PEDRO ST,34.0423,-118.2452,F,Mid 20s to Mid 30s(26-35)
997,2020-01-29T00:00:00.000,2020-01-29T00:00:00.000,2040,Central,OTHER MISCELLANEOUS CRIME,0,STREET,7TH,34.0459,-118.2545,NaN,Children and Teens(0-18)
998,2020-01-29T00:00:00.000,2020-01-28T00:00:00.000,1500,Central,BURGLARY FROM VEHICLE,57,STREET,1000 WILDE ST,34.0388,-118.2411,NaN,Mid 40s to Mid 60s(46-65)
999,2020-01-30T00:00:00.000,2020-01-29T00:00:00.000,2130,Central,BATTERY - SIMPLE ASSAULT,23,STREET,7TH,34.0449,-118.2528,F,Young Adults(19-25)

In [11]:
crime_df["Age Group"].value_counts()

Mid 20s to Mid 30s(26-35)    266
Mid 40s to Mid 60s(46-65)    218
Children and Teens(0-18)     194
Middle Age(36-45)            139
Young Adults(19-25)          138
Seniors(66-90)                44
Name: Age Group, dtype: int64

In [46]:
Total_Victims=crime_df["Victim Age"].count()
Group_Count=crime_df["Age Group"].value_counts()
Percentage_Age=(Group_Count / Total_Victims) * 100

In [49]:
Gender_Victims=crime_df["Gender"].value_counts()
Percentage_Gender=(Gender_Victims / Total_Victims) * 100

In [50]:
Percentage_Gender

M    19.3
F    17.2
X     2.1
Name: Gender, dtype: float64

In [19]:
Percentage_Age

Mid 20s to Mid 30s(26-35)    26.6
Mid 40s to Mid 60s(46-65)    21.8
Children and Teens(0-18)     19.4
Middle Age(36-45)            13.9
Young Adults(19-25)          13.8
Seniors(66-90)                4.4
Name: Age Group, dtype: float64

In [37]:
Average_Victim_Age= (crime_df["Victim Age"]).mean()

In [38]:
Average_Victim_Age

inf

In [44]:
# Group by gender from the dataframe and performing basic functions off of it
Gender_Tracker = crime_df.groupby("Gender")
Victim_By_Gender = (Gender_Tracker["Gender"]).count()
Percentage_Victims = (Victim_By_Gender / Total_Victims) * 100
# Created a new dataframe that visualizes player count by gender
Gender_df = pd.DataFrame({"Percentage of Victims": Percentage_Age})
Sorted_df = Gender_df.sort_values("Percentage of Victims", ascending = False)
Sorted_df

                           Percentage of Victims
Mid 20s to Mid 30s(26-35)                   26.6
Mid 40s to Mid 60s(46-65)                   21.8
Children and Teens(0-18)                    19.4
Middle Age(36-45)                           13.9
Young Adults(19-25)                         13.8
Seniors(66-90)                               4.4