In [53]:
#dependencies
import pandas as pd
import requests
import json
import numpy as np
import matplotlib.pyplot as plt
import gmaps

url = "https://data.lacity.org/resource/2nrs-mtv8.json"
response = requests.get(url).json()

In [58]:
file_one = "../../Resources/crime_data.csv"
file_one_df = pd.read_csv(file_one)

In [59]:
crime_df = pd.DataFrame(file_one_df)
crime_df

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,201220752,09/16/2020 12:00:00 AM,09/16/2020 12:00:00 AM,1230,12,77th Street,1259,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,NaN,NaN,NaN,700 E 73RD ST,NaN,33.9739,-118.2630
3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301481,211208872,03/19/2021 12:00:00 AM,03/19/2021 12:00:00 AM,1105,12,77th Street,1218,1,510,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,58TH ST,FIGUEROA ST,33.9897,-118.2827
301482,210506531,03/04/2021 12:00:00 AM,03/04/2021 12:00:00 AM,2210,5,Harbor,564,2,434,FALSE IMPRISONMENT,...,AA,Adult Arrest,434.0,NaN,NaN,NaN,200 W 2ND ST,NaN,33.7424,-118.2814
301483,211710505,07/09/2021 12:00:00 AM,07/09/2021 12:00:00 AM,1050,17,Devonshire,1798,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,8800 DEMPSEY AV,NaN,34.2302,-118.4775
301484,210312887,07/12/2021 12:00:00 AM,07/12/2021 12:00:00 AM,1200,3,Southwest,363,1,350,"THEFT, PERSON",...,IC,Invest Cont,350.0,NaN,NaN,NaN,CRENSHAW BL,STOCKER ST,34.0088,-118.3351
301485,212005847,02/22/2021 12:00:00 AM,02/22/2021 12:00:00 AM,1200,20,Olympic,2034,1,510,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,3300 W 8TH ST,NaN,34.0596,-118.3022

In [61]:
crime_df["Crm Cd Desc"].value_counts()

VEHICLE - STOLEN                                            32553
BATTERY - SIMPLE ASSAULT                                    24615
VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)     20017
BURGLARY FROM VEHICLE                                       19396
BURGLARY                                                    19045
                                                            ...
GRAND THEFT / INSURANCE FRAUD                                   2
GRAND THEFT / AUTO REPAIR                                       1
TELEPHONE PROPERTY - DAMAGE                                     1
BEASTIALITY, CRIME AGAINST NATURE SEXUAL ASSLT WITH ANIM        1
FIREARMS EMERGENCY PROTECTIVE ORDER (FIREARMS EPO)              1
Name: Crm Cd Desc, Length: 133, dtype: int64

In [62]:
crime_df["AREA NAME"].value_counts()

77th Street    19905
Pacific        18084
Central        17729
Southwest      16721
Southeast      16092
Hollywood      15955
N Hollywood    15464
Newton         14785
Olympic        14762
West LA        14151
Wilshire       13898
Rampart        13704
Harbor         13450
Northeast      13058
Van Nuys       13007
Mission        12408
Topanga        12185
West Valley    11956
Hollenbeck     11932
Devonshire     11818
Foothill       10422
Name: AREA NAME, dtype: int64

In [63]:
crime_df["Vict Sex"].value_counts()

M    128418
F    108795
X     24841
H        31
Name: Vict Sex, dtype: int64

In [7]:
# Convert poverty rate as a list
# Convert bank rate to list
# poverty_rate = crime_df["Poverty Rate"].tolist()

In [8]:
# Create a map using state centroid coordinates to set markers
# marker_locations = census_data[['Latitude', 'Longitude']]

# Create a marker_layer using the poverty list to fill the info box
# fig = gmaps.figure()
# markers = gmaps.marker_layer(marker_locations)
# fig.add_layer(markers)
# fig

In [64]:
Actual_Age=pd.to_numeric(crime_df['Vict Age']).astype(float)

In [65]:
AgeBin = [0,18,25,35,45,65,90]
AgeGroup = ["Children and Teens(0-18)","Young Adults(19-25)", "Mid 20s to Mid 30s(26-35)", "Middle Age(36-45)", "Mid 40s to Mid 60s(46-65)", "Seniors(66-90)"]
crime_df["Age Group"]=pd.cut(Actual_Age,AgeBin,labels=AgeGroup,include_lowest=True)
crime_df

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON,Age Group
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978,Middle Age(36-45)
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545,Young Adults(19-25)
2,201220752,09/16/2020 12:00:00 AM,09/16/2020 12:00:00 AM,1230,12,77th Street,1259,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,Invest Cont,745.0,NaN,NaN,NaN,700 E 73RD ST,NaN,33.9739,-118.2630,Mid 40s to Mid 60s(46-65)
3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019,Seniors(66-90)
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468,Mid 20s to Mid 30s(26-35)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301481,211208872,03/19/2021 12:00:00 AM,03/19/2021 12:00:00 AM,1105,12,77th Street,1218,1,510,VEHICLE - STOLEN,...,Invest Cont,510.0,NaN,NaN,NaN,58TH ST,FIGUEROA ST,33.9897,-118.2827,Children and Teens(0-18)
301482,210506531,03/04/2021 12:00:00 AM,03/04/2021 12:00:00 AM,2210,5,Harbor,564,2,434,FALSE IMPRISONMENT,...,Adult Arrest,434.0,NaN,NaN,NaN,200 W 2ND ST,NaN,33.7424,-118.2814,Middle Age(36-45)
301483,211710505,07/09/2021 12:00:00 AM,07/09/2021 12:00:00 AM,1050,17,Devonshire,1798,2,624,BATTERY - SIMPLE ASSAULT,...,Invest Cont,624.0,NaN,NaN,NaN,8800 DEMPSEY AV,NaN,34.2302,-118.4775,Middle Age(36-45)
301484,210312887,07/12/2021 12:00:00 AM,07/12/2021 12:00:00 AM,1200,3,Southwest,363,1,350,"THEFT, PERSON",...,Invest Cont,350.0,NaN,NaN,NaN,CRENSHAW BL,STOCKER ST,34.0088,-118.3351,Children and Teens(0-18)
301485,212005847,02/22/2021 12:00:00 AM,02/22/2021 12:00:00 AM,1200,20,Olympic,2034,1,510,VEHICLE - STOLEN,...,Invest Cont,510.0,NaN,NaN,NaN,3300 W 8TH ST,NaN,34.0596,-118.3022,Children and Teens(0-18)

In [66]:
crime_df["Age Group"].value_counts()

Children and Teens(0-18)     82513
Mid 20s to Mid 30s(26-35)    63658
Mid 40s to Mid 60s(46-65)    60543
Middle Age(36-45)            47119
Young Adults(19-25)          32943
Seniors(66-90)               14288
Name: Age Group, dtype: int64

In [77]:
Total_Victims=crime_df["Vict Age"].count()
Group_Count=crime_df["Age Group"].value_counts()
Percentage_Age=round((Group_Count / Total_Victims) * 100,2)

In [79]:
Gender_Victims=crime_df["Vict Sex"].value_counts()
Percentage_Gender=round((Gender_Victims / Total_Victims) * 100,2)

In [80]:
Percentage_Gender

M    42.60
F    36.09
X     8.24
H     0.01
Name: Vict Sex, dtype: float64

In [78]:
Percentage_Age

Children and Teens(0-18)     27.37
Mid 20s to Mid 30s(26-35)    21.11
Mid 40s to Mid 60s(46-65)    20.08
Middle Age(36-45)            15.63
Young Adults(19-25)          10.93
Seniors(66-90)                4.74
Name: Age Group, dtype: float64

In [74]:
# Group by gender from the dataframe and performing basic functions off of it
Gender_Tracker = crime_df.groupby("Vict Sex")
Victim_By_Gender = (Gender_Tracker["Vict Sex"]).count()
Percentage_Victims = (Victim_By_Gender / Total_Victims) * 100
# Created a new dataframe that visualizes player count by gender
Gender_df = pd.DataFrame({"Percentage of Victims": Percentage_Age})
Sorted_df = Gender_df.sort_values("Percentage of Victims", ascending = False)
Sorted_df

                           Percentage of Victims
Children and Teens(0-18)               27.368767
Mid 20s to Mid 30s(26-35)              21.114745
Mid 40s to Mid 60s(46-65)              20.081529
Middle Age(36-45)                      15.628918
Young Adults(19-25)                    10.926876
Seniors(66-90)                          4.739192

In [93]:
crime_df["Premis Desc"].value_counts().sort_values()

MTA - SILVER LINE - SLAUSON                         1
HANDBALL COURTS                                     1
CHEMICAL STORAGE/MANUFACTURING PLANT                1
SKATING RINK*                                       1
MUSCLE BEACH                                        1
                                                ...
SIDEWALK                                        14057
PARKING LOT                                     22274
MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)    36190
SINGLE FAMILY DWELLING                          49567
STREET                                          77849
Name: Premis Desc, Length: 301, dtype: int64